@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 200;
  src: local('Titillium WebThin'), local('TitilliumWeb-Thin'), url(http://fonts.gstatic.com/s/titilliumweb/v3/anMUvcNT0H1YN4FII8wprwWgvz7nq97YPMIWeoEnHDE.woff2) format('woff2'), url(http://fonts.gstatic.com/s/titilliumweb/v3/anMUvcNT0H1YN4FII8wpr3XqdloEk0Ij5qwGW4qO9RM.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://fonts.gstatic.com/s/titilliumweb/v3/anMUvcNT0H1YN4FII8wpr4-67659ICLY8bMrYhtePPA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/titilliumweb/v3/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(http://fonts.gstatic.com/s/titilliumweb/v3/7XUFZ5tgS-tD6QamInJTcZSnX671uNZIV63UdXh3Mg0.woff2) format('woff2'), url(http://fonts.gstatic.com/s/titilliumweb/v3/7XUFZ5tgS-tD6QamInJTcdGU7DQ8I6RFMlK0vgclk7w.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  src: local('Titillium WebSemiBold'), local('TitilliumWeb-SemiBold'), url(http://fonts.gstatic.com/s/titilliumweb/v3/anMUvcNT0H1YN4FII8wpr46gJz9aNFrmnwBdd69aqzY.woff2) format('woff2'), url(http://fonts.gstatic.com/s/titilliumweb/v3/anMUvcNT0H1YN4FII8wprx7IBmrqA5IG9z8WNe77b9o.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: local('Titillium WebBold'), local('TitilliumWeb-Bold'), url(http://fonts.gstatic.com/s/titilliumweb/v3/anMUvcNT0H1YN4FII8wprxP6Eu1_xfSBSoi9uie1FdE.woff2) format('woff2'), url(http://fonts.gstatic.com/s/titilliumweb/v3/anMUvcNT0H1YN4FII8wpr0bathaSTBR2c4i13_wzlb0.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 900;
  src: local('Titillium WebBlack'), local('TitilliumWeb-Black'), url(http://fonts.gstatic.com/s/titilliumweb/v3/anMUvcNT0H1YN4FII8wpr6C95lFCEhr9IpXC9cjRuaU.woff2) format('woff2'), url(http://fonts.gstatic.com/s/titilliumweb/v3/anMUvcNT0H1YN4FII8wpr8vGCqQ_I4mewSLySUmNzHA.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 200;
  src: local('Titillium WebThin Italic'), local('TitilliumWeb-ThinItalic'), url(http://fonts.gstatic.com/s/titilliumweb/v3/RZunN20OBmkvrU7sA4GPPk94s9wFhqwla9v9ys0uYos.woff2) format('woff2'), url(http://fonts.gstatic.com/s/titilliumweb/v3/RZunN20OBmkvrU7sA4GPPo6qa2KAMrZguqdHYsLxXzk.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 300;
  src: local('Titillium WebLight Italic'), local('TitilliumWeb-LightItalic'), url(http://fonts.gstatic.com/s/titilliumweb/v3/RZunN20OBmkvrU7sA4GPPpqmdMmZ3RU_nSyRBdIw_WA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/titilliumweb/v3/RZunN20OBmkvrU7sA4GPPgP_8nJw2RYVCTh3L6gEbno.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 400;
  src: local('Titillium WebItalic'), local('TitilliumWeb-Italic'), url(http://fonts.gstatic.com/s/titilliumweb/v3/r9OmwyQxrgzUAhaLET_KO6qVnG43xFTRN40gwdrG-aE.woff2) format('woff2'), url(http://fonts.gstatic.com/s/titilliumweb/v3/r9OmwyQxrgzUAhaLET_KO5amZRho2btt1t2XfPnvt5c.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 600;
  src: local('Titillium WebSemiBold Italic'), local('TitilliumWeb-SemiBoldItalic'), url(http://fonts.gstatic.com/s/titilliumweb/v3/RZunN20OBmkvrU7sA4GPPqnxEWeSxeYH5Yv0OHgSghs.woff2) format('woff2'), url(http://fonts.gstatic.com/s/titilliumweb/v3/RZunN20OBmkvrU7sA4GPPt8ypw_Pcmus_cxPy1vfDCE.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 700;
  src: local('Titillium WebBold Italic'), local('TitilliumWeb-BoldItalic'), url(http://fonts.gstatic.com/s/titilliumweb/v3/RZunN20OBmkvrU7sA4GPPrVtATvrkhG8cpz4A3QpLk8.woff2) format('woff2'), url(http://fonts.gstatic.com/s/titilliumweb/v3/RZunN20OBmkvrU7sA4GPPlOSlXvQaFzdfWjS0Vvc1hI.woff) format('woff');
}
